<h2>Parent to Sibling via Service</h2>
<app-service-sibling></app-service-sibling>

<div class="grid-2">
  <div class="grid-item">
    <h2>Parent to Child via @Input</h2>
    <app-input-parent-to-child></app-input-parent-to-child>
  </div>
  <div class="grid-item">
    <h2>Child to Parent via Output and EventEmitter</h2>
    <app-output-child-to-parent></app-output-child-to-parent>
  </div>
  <div class="grid-item">
    <h2>Child to Parent via Output and EventEmitter Click</h2>
    <app-output-child-to-parent-click></app-output-child-to-parent-click>
  </div>
  <div class="grid-item">
    <h2>Child to Parent via ViewChild</h2>
    <app-viewchild-child-to-parent></app-viewchild-child-to-parent>
  </div>
</div>
